{% extends "base.html" %}
{% import 'macros.html' as macros %}
{% block content %}

<div class="accordion" id="accordionExample">
    <div class="accordion-item">  
        <div class="accordion-item">
            <h2 class="accordion-header">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                <strong>Tambah Aset</strong>
              </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <form action="/add_aset" method="POST" enctype="multipart/form-data">
                    <div class="form-group">
                        <label for="asset_name">Nama Aset:</label>
                        <input type="text" class="form-control" id="asset_name" name="asset_name" required>
                    </div>
                    <div class="form-group">
                        <label for="description">Deskripsi:</label>
                        <input type="text" class="form-control" id="description" name="description" required>
                    </div>
                    <div class="form-group">
                        <label for="owner">Owner:</label>
                        <input type="text" class="form-control" id="owner" name="owner" required>
                    </div>
                    <div class="form-group">
                        <label for="category">Kategori:</label>
                        <input type="text" class="form-control" id="category" name="category" required>
                    </div>
                    <div class="form-group">
                        <label for="price">Harga Aset:</label>
                        <input type="number" class="form-control" id="price" name="price" required>
                    </div>
                    <div class="form-group">
                        <label for="purchase_date">Tanggal pembelian (YYYY-MM-DD):</label>
                        <input type="date" class="form-control" id="purchase_date" name="purchase_date" required>
                    </div>
                    <div class="form-group">
                        <label for="asset_image">Upload Foto Aset:</label>
                        <input type="file" class="form-control" name="asset_image" accept="image/*">
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
              </div>
            </div>
        </div>
    </div>
</div>

<div class="card">
    <div class="card-header">
      <div class="card-title">Data Aset</div>
    </div>
    <div class="card-body">
      <div class="card-sub">
        <form method="GET" action="{{ url_for('aset') }}">
            <div class="row mb-2">
                <div class="col-md-2">
                    <label for="start_date" class="form-label">Tanggal Awal</label>
                    <input type="date" class="form-control" id="start_date" name="start_date" value="{{ start_date }}">
                </div>
                <div class="col-md-2">
                    <label for="end_date" class="form-label">Tanggal Akhir</label>
                    <input type="date" class="form-control" id="end_date" name="end_date" value="{{ end_date }}">
                </div>
                <div class="col-md-3 d-flex align-items-end">
                    <button type="submit" class="btn btn-primary">Filter</button>
                </div>
            </div>
        </form>
      </div>
      
      <div class="table-responsive">
        <table class="table table-bordered" id="asetTable">
            <thead>
                <tr>
                    <th>No<br><input type="text" id="searchNo" class="form-control" placeholder="Search No"></th>
                    <th>Nama<br><input type="text" id="searchNama" class="form-control" placeholder="Search Nama"></th>
                    <th>Deskripsi<br><input type="text" id="searchDeskripsi" class="form-control" placeholder="Search Deskripsi"></th>
                    <th>Owner<br><input type="text" id="searchOwner" class="form-control" placeholder="Search Owner"></th>
                    <th>Kategori<br><input type="text" id="searchKategori" class="form-control" placeholder="Search Kategori"></th>
                    <th>Harga<br><input type="text" id="searchHarga" class="form-control" placeholder="Search Harga"></th>
                    <th>Tanggal<br><input type="text" id="searchTanggal" class="form-control" placeholder="Search Tanggal"></th>
                    <th>Gambar</th>
                    <th>Action</th>
                </tr>
            </thead>

            <tbody>
                {% for aset in aset_data %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td>{{ aset[1] }}</td>
                    <td>{{ aset[2] }}</td>
                    <td>{{ aset[3] }}</td>
                    <td>{{ aset[4] }}</td>
                    <td>{{ aset[5] }}</td>
                    <td>{{ aset[6] }}</td>
                    
                    <td>
                        {% if aset[7] %}
                        <img src="{{ url_for('static', filename='uploads/' + aset[7]) }}" alt="Gambar Aset" width="100" style="cursor: pointer;" data-bs-toggle="modal" data-bs-target="#imageModal{{ loop.index }}">
                        <div class="modal fade" id="imageModal{{ loop.index }}" tabindex="-1" aria-labelledby="imageModalLabel{{ loop.index }}" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="imageModalLabel{{ loop.index }}">Gambar {{ aset[1] }} aset {{ aset[3] }}</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <img src="{{ url_for('static', filename='uploads/' + aset[7]) }}" alt="Gambar Aset" class="img-fluid">
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% else %}
                        No Gambar Aset
                        {% endif %}
                    </td>
                    <td>
                        {{ macros.action_dropdown(aset[0]) }}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
      </div>
      <nav aria-label="Page navigation example">
        <ul class="pagination">
            <li class="page-item {% if page == 1 %}disabled{% endif %}">
                <a class="page-link" href="{{ url_for('aset', page=page-1, per_page=10) }}" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            {% for p in range(1, total_pages + 1) %}
            <li class="page-item {% if page == p %}active{% endif %}">
                <a class="page-link" href="{{ url_for('aset', page=p, per_page=10) }}">{{ p }}</a>
            </li>
            {% endfor %}
            <li class="page-item {% if page == total_pages %}disabled{% endif %}">
                <a class="page-link" href="{{ url_for('aset', page=page+1, per_page=10) }}" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
      </nav>
    </div>
</div>

<script src="{{ url_for('static', filename='js/js.js') }}"></script>
{% endblock %}