{% extends "base.html" %}

{% block content %}
<h2>Data dari Database</h2>
<table class="table table-bordered table-striped table-hover">
    <thead class="thead-dark">
        <tr>
            <th>ID</th>
            <th>Nama</th>
            <th>Password</th>
            <th>Email</th>
            <th>role</th>
            <!-- Sesuaikan dengan kolom tabel Anda -->
        </tr>
    </thead>
    <tbody>
        {% for row in data %}
        <tr>
            <td>{{ row[0] }}</td>
            <td>{{ row[1] }}</td>
            <td>{{ row[2] }}</td>
            <td>{{ row[3] }}</td>
            <td>{{ row[4] }}</td>  <!-- Menambahkan kolom email -->
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
