{% extends "base.html" %}

{% block content %}
<div class="container mt-5">
    <h2>Edit Pemasukan</h2>
    <form action="{{ url_for('update_pemasukan', id=pemasukan[0]) }}" method="POST">
        <div class="form-group">
            <label for="amount">Jumlah Pemasukan:</label>
            <input type="number" class="form-control" id="amount" name="amount" value="{{ pemasukan[1] }}" required>
        </div>
        <div class="form-group">
            <label for="description">Deskripsi:</label>
            <input type="text" class="form-control" id="description" name="description" value="{{ pemasukan[2] }}" required>
        </div>
        <button type="submit" class="btn btn-primary">Update Pemasukan</button>
    </form>
</div>
{% endblock %}